h1 {
  font-style: italic;
}
html{
  /* overflow-y:scroll; */
}

body {
  /* font-family: 'Oswald', sans-serif; */
  min-width: 305px;
  max-width: 350px;
  /* margin: 0; */
  height: max-content;
  font-family: K2D, sans-serif;

  overflow-y:auto;
}

ul {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  line-height: 15pt;
}

ul li {
  padding-bottom: 0.75rem;
  font-family: K2D, sans-serif;
}
div p {
  font-family: K2D, sans-serif;
}

.iconesApps {
  display: flex;
  justify-content: center;
}

.iconesApps img {
  margin: 0 1.875rem;
}

#introP {
  line-height: 15pt;
  font-family: K2D, sans-serif;
}

hr {
  border: 1px solid black;
  margin:  0.45rem 0;
}

#myHeading {
  margin: 0 0.5rem;
  text-align: center;
  align-items: center;
  font-weight: 400;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  font-family: K2D, sans-serif;
  
}

header {
  background-color: #00B1CA;
  height: 2.5rem;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: K2D, sans-serif;
  left: 0;
}

main {
  /* margin-left: 0.5rem;
  margin-right: 0.5rem; */
  /* line-height: 0.3; */
  color: midnightblue;
  margin-top: 3rem;
}

main > div > p{
  margin: 0;
}
#caseRetour {
  /* font-size: 10.5rem; */
  text-align: left;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.iconeOui {
  display: grid;
  grid-template-columns: 1.25rem auto 1.25rem;
  align-items: center;
  letter-spacing: 0.3pt;
  white-space: nowrap;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}
.iconeOui > span{
  width: fit-content;
}
.icon-cogs {
  text-align: left;
}

.icon-info {
  text-align: right;
}

.icon-FA-chevron-right{
  color: midnightblue;
  width: fit-content;
}