h1 {
  font-style: italic;
}
body{
  font-family: 'Oswald', sans-serif;
  min-width: 275px;
  max-width: 325px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow-x: hidden;
/* max-height: 900px; */
height: max-content;
}
ul{
  padding-left: 20px;
  padding-right: 20px;
  line-height: initial;
}
.iconesApps{
  display: flex;
  justify-content: center;
}
.iconesApps img{
  /* flex: 1 0 20px; */
  margin: 0 30px;
}#introP{
  line-height: initial;
  font-family: K2D, sans-serif;
}
hr{
  border: 1px solid black;
}
#myHeading{
margin: 0 8px;
  text-align: center;
  align-items: center;
font-weight: 400;
height: 100%;
}
header{
  background-color: aqua;
  height: 40px;
}
main{
  margin-left: 8px;
  overflow-x: hidden;
  line-height: 0.5;
  color:midnightblue;
  /* font-weight: 300;
letter-spacing: 0.5px; */
}
#caseRetour{
  font-size: 18px;
  text-align: left;
}
#Ajust,#Inte,#appInte,#AppDes,#appRet,
#appEnCas, #confNav, #confExt, #bonMDP, #peutMDP, #pasMDP, #gereMDP, #reseauGen, #sitesRen, #partagePhoto, #troll, #volDeI, #prevExto, #victExto, #Escrocs, #pred, #compor, #conseilMess, #structure, #contenuEscr, #escrSol, #presArn,#arnNigeria, #phishing, #autresArn, #achatSite, #achatProduit, #achatApp, #AppCom,#verIn,#chevalTroie,#spWare,#rsWare,#mWare,#kLog,#rootkit,#Dos,#intercept,#debo,#faille,#crsSite,#concepteur,#iphone,#android,#deuxTels, #appAppleNon, #appAndNon, #siteFiable, #infoFiable, #siteInf, #siteSante
{
  display: none;
  font-family: K2D, sans-serif;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
#VotreOrdi, #indexAppNon, #leNav, #leMDP, #fiable, #reseau, #extorsion, #sms, #achats, #achatDeApp, #politique, #virus, #attaques, #mobiles{
  display: grid;
  grid-template-columns: 1.2em auto;
  align-items: center;
  letter-spacing: 0.3pt;
}